[Desktop Entry]
Name=Workstation Startup
GenericName=Startup
Comment=Script to setup workstation
Exec=terminator -e /home/jonathanb/bin/workstation-startup
Terminal=false
Type=Application
Icon=None
